@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --golden : rgb(255, 195, 3);
  --goldenborder : rgba(193, 168, 117, 0.8);
  --goldenbg : rgba(193, 168, 117, 0.25);
  --goldenbg2 : rgba(193, 168, 117, 0.1); 
  --brown : rgb(19, 13, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
