@media (min-width: 600px) {
    .gradient-bg {
      background: radial-gradient(circle, var(--goldenbg) 0%, transparent 100%);
      z-index: 99;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    display: flex;
    animation: slide 30s linear infinite;
  }

  .animate-slide3 {
    display: flex;
    animation: slide 20s linear infinite;
  }
  
  .animate-slide2 {
    display: flex;
    animation: slide 30s linear infinite;
  }
  
  